.main{
    padding-top: 15px;
}
.main > ul > li{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dashed burlywood;
}
.title{
    font-size: 20px;
    display: inherit;
    padding: 10px 0px;
}
.operation{
    float: right;
    padding-right: 20px;
}