.register{
    width: 440px;
    padding: 20px;
    margin: 20vh auto;
    background: white;
    border-radius: 15px;
    box-shadow: -2px -2px 25px #fff;
}
.tip{
    font-size:14px;
    color: red;
    text-align: center;
    margin: 10px;
    margin-top: -10px;
}
.layui-form-item {
    padding-right: 60px;
    margin-bottom: 30px;
}
h1{
    position: relative;
    text-align: center;
    top: -40px;
}